$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Fri, 09 May 2025 16:06:37 GMT"
          );