$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Mon, 24 Feb 2025 14:36:40 GMT"
          );