$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 25 Feb 2025 08:20:04 GMT"
          );