/* stylelint-disable */
:root {
  --vf-color--green: #748f2e;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #3e5305;
  --vf-color--green--light: #a1bf56;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #0088ba;
  --vf-color--blue--dark: #00455f;
  --vf-color--blue--light: #c0deff;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #eb9e28;
  --vf-color--orange--dark: #c57a06;
  --vf-color--orange--light: #f6ebd9;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #add87a;
  --vf-color--bright-green--dark: #65a517;
  --vf-color--bright-green--light: #d5ebbb;
}

:root {
  --vf-color__text--primary: #1a1a1a;
  --vf-color__text--secondary: #373a36;
  --vf-color__link: #0088ba;
  --vf-color__link--hover: #193f90;
  --vf-color__link--focus: #193f90;
  --vf-color__link--visited: #563d82;
}

:root {
  --vf-color__button__text--primary: #ffffff;
  --vf-color__button__border--primary: #3b6fb6;
  --vf-color__button__background--primary: #3b6fb6;
  --vf-color__button__shadow--primary: #193f90;
  --vf-color__button__text--secondary: #3b6fb6;
  --vf-color__button__border--secondary: #3b6fb6;
  --vf-color__button__background--secondary: #ffffff;
  --vf-color__button__shadow--secondary: #193f90;
  --vf-color__button__text--tertiary: #ffffff;
  --vf-color__button__border--tertiary: #373a36;
  --vf-color__button__background--tertiary: #373a36;
  --vf-color__button__shadow--tertiary: #000000;
}

:root {
  --vf-color__brand: #256fc1;
  --vf-color__brand--dark: #00294a;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

:root {
  --vf-color--neutral--0: #ffffff;
  --vf-color--neutral--100: #f3f3f3;
  --vf-color--neutral--200: #e4e4e4;
  --vf-color--neutral--300: #d0d0ce;
  --vf-color--neutral--400: #a9abaa;
  --vf-color--neutral--500: #8d8f8e;
  --vf-color--neutral--600: #707372;
  --vf-color--neutral--700: #54585a;
  --vf-color--neutral--800: #373a36;
  --vf-color--neutral--900: #000000;
}

:root {
  --vf-theme--primary: #0088ba;
  --vf-theme--primary--dark: #00455f;
  --vf-theme--secondary: #748f2e;
  --vf-theme--secondary--dark: #3e5305;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vfwp-gutenberg-iframe
 * Version: 0.0.1
 * Location: components/vfwp-gutenberg-iframe
 */
html,
body {
  margin: 0;
  padding: 0;
}

.vf-activity:last-of-type {
  margin-bottom: 0;
}

.vf-box:last-of-type {
  margin-bottom: 0;
}

.vf-divider:last-of-type {
  margin-bottom: 0;
}

.vf-summary {
  height: auto !important;
}

.vf-card__image {
  max-height: 100vw !important;
}