# General

._*
Thumbs.db
.Spotlight-V100
.Trashes
.DS_Store
Desktop.ini
node_modules
.sass-cache
*.log
/dist/*
/_sqldata/*

.idea

backup_secrets.sh

deployable/vf-wp/
deployable/vfwp-external-plugins/
deployable/wordpress/
deployable/wp.tar.gz

wp-content/themes/vf-wp-sis/bak
wp-content/themes/vf-wp-sis/html

# Uneeded vf asses
wp-content/themes/vf-wp-sis/assets/assets
wp-content/themes/vf-wp-sis/assets/css/*.map
