# General

._*
Thumbs.db
.Spotlight-V100
.Trashes
.DS_Store
Desktop.ini
node_modules
.sass-cache
*.log
/_sqldata/*
temp

.idea

dist/wp-content/themes/vf-wp-sis/bak
dist/wp-content/themes/vf-wp-sis/html

# Uneeded vf asses
dist/wp-content/themes/vf-wp-sis/assets/assets
dist/wp-content/themes/vf-wp-sis/assets/css/*.map
