# General
._*
Thumbs.db
.Spotlight-V100
.Trashes
.DS_Store
Desktop.ini
node_modules
.sass-cache
*.log
temp
.idea
# Don’t ignore custom theme
!dist/wp-content/themes/vf-wp-sis
# Don’t ignore custom plugins
!dist/wp-content/plugins/fg-*
!dist/wp-content/plugins/relevanssi-premium
!dist/wp-content/plugins/sis-gutenberg
!dist/wp-content/plugins/toolset-blocks
!dist/wp-content/plugins/types
!dist/wp-content/plugins/types-access
/_sqldata/*
/_files/*
/_sqldump/*
