$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 11 Mar 2025 06:56:15 GMT"
          );