$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Fri, 15 Sep 2023 10:19:19 GMT"
          );