$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Wed, 05 Mar 2025 06:16:09 GMT"
          );