$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 17 Dec 2024 05:30:03 GMT"
          );