$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 20 May 2025 08:44:55 GMT"
          );