$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Fri, 24 Mar 2023 11:00:01 GMT"
          );