$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "3.5.0",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Wed, 04 Dec 2024 09:23:29 GMT"
          );