$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "3.5.0",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Thu, 23 Jun 2022 04:00:59 GMT"
          );