$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "3.5.0",
             location: "components/vf-design-tokens",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 07 Feb 2023 10:49:53 GMT"
          );