$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Wed, 19 Mar 2025 06:41:17 GMT"
          );