$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 07 May 2024 09:19:32 GMT"
          );