$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Mon, 07 Feb 2022 04:48:37 GMT"
          );