/* stylelint-disable */
.wp-block[data-type="sis/info-box"] {
  --block-column-outline: var(--vf-ui-color--grey);
  --block-column-color: var(--vf-ui-color--off-white);
  --block-gaps: calc(var(--block-columns) - 1);
  --block-gap-width: var(--page-grid-gap);
  --block-gap-widths: calc((var(--block-gap-width) * var(--block-gaps)));
  --block-column-width: calc(
    (100% - var(--block-gap-widths)) / var(--block-columns)
  );
  background-image: repeating-linear-gradient(to right, var(--block-column-color) 0, var(--block-column-color) var(--block-column-width), transparent var(--block-column-width), transparent calc(var(--block-column-width) + var(--block-gap-width)));
  max-width: none;
}
.wp-block[data-type="sis/info-box"] > .block-editor-inner-blocks {
  display: contents;
}
.wp-block[data-type="sis/info-box"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: contents;
}

.wp-block[data-type="sis/info-box-column"] {
  outline: 1px dashed var(--block-column-outline);
  margin: 0 !important;
  max-width: none;
}
