$componentInfo: (
             name: "@visual-framework/vf-footer",
             version: "1.1.1",
             location: "components/vf-footer",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Thu, 16 Jun 2022 04:43:31 GMT"
          );