$componentInfo: (
             name: "@visual-framework/vf-footer",
             version: "1.1.1",
             location: "components/vf-footer",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Mon, 13 Dec 2021 12:31:09 GMT"
          );