$componentInfo: (
             name: "@visual-framework/vf-footer",
             version: "1.1.1",
             location: "components/vf-footer",
             vfCoreVersion: "2.2.33",
             buildTimeStamp: "Wed, 03 Nov 2021 05:26:19 GMT"
          );