
// vf-footer Sass variables file.
// ------------------------------------------------------------

// ------------------------------------------------------------
// Default component variables
// ------------------------------------------------------------

$vf-footer-link--color: brand-color(dark);
$vf-footer-link--hover-color: color(grey);
$vf-footer-link--visited-color: color(grey);
